.calculator {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: rgb(57, 56, 56);
  width: 500px;
  height: 500px;
  border-radius: 20px;
  box-shadow: rgb(0, 0, 0) 1.5px 5px 10px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
button {
  width: 70px;
  height: 70px;
  font-size: 30px;
  border-radius: 70px;
  cursor: pointer;
  border: none;
  background-color: black;
  color: white;
  transition: all 0.5s;
}
button:hover {
  background-color: rgb(49, 47, 47);
  box-shadow: black 1.5px 5px 10px;
}
button:active {
  background-color: black;
}
.operator {
  background-color: rgb(255, 159, 42);
  color: black;
  transition: all 0.5s;
}
.operator:hover {
  background-color: rgb(255, 159, 80);
  box-shadow: black 1.5px 5px 10px;
}
.operator:active {
  background-color: black;
}

.container {
  display: flexbox;
  justify-content: center;
  align-items: center;
  margin-left: 65px;
}

.delete {
  width: 70px;
  height: 40px;
  background-color: red;
  border: none;
  transition: all 0.5s;
  border-radius: 70px;
  cursor: pointer;
  font-size: 22px;
}
.delete:hover {
  background-color: rgb(251, 84, 84);
  box-shadow: black 1.5px 5px 10px;
}
.delete:active {
  background-color: red;
}

#erase {
  position: absolute;
  margin-top: 50px;
  margin-left: -70px;
}

#input {
  position: relative;
  right: 15px;
  top: 22px;
  height: 45px;
  font-size: 25px;
  border: none;
  background-color: rgb(57, 56, 56);
  color: white;
}

body {
  position: relative;
  background-color: rgb(28, 27, 27);
}
