body{
    background-color: black;
    height: 100vh;
}
.nom{
    color: red;
    text-align: center;
    border: solid red 10px;
    background-color:white;
    padding: 10 10px 10px;
    margin: 50px 250px;
    border-radius: 100px;
    height:40px ;
    width: 500px;
}
img{
    height: 250px;
    width: 250px;
    border-radius: 250px;
    border: solid gray 5px;
    margin: 0 400px 50px ;
    
}